[submodule "play-haskell-server/static/ace-builds"]
	path = play-haskell-server/static/ace-builds
	url = https://github.com/ajaxorg/ace-builds
[submodule "play-haskell-worker/automaton-visualiser"]
	path = play-haskell-worker/automaton-visualiser
	url = https://github.com/Coding-Cactus/automaton-visualiser
